.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}
.searchbar {
  padding:1em;
}
.searchbar input {
  width:100%;
}
.venue-list {
  padding: 1em;
  list-style-type: none;
  text-align: left;
  margin:0.25em;

}
li {
  border: outset;
  margin-bottom: 0.5em;
  width:95%;
  padding:0.5em;
  background-color: #cccccc61;
}
